<li id="post-<%= post._id %>">
    <% if(locals.user && locals.user.id == post.user.id) { %>            
    <p>
        <a class="delete-post-btn" href="/posts/destroy/<%= post.id %>">Delete Post</a>
    </p>
    <% } %>
    <p>
        <%= post.content %>
        <br>
        <small>
            <%= post.user.name %>
        </small>
    </p>
    <div class="post-comments">
     <% if(locals.user) { %>
        <form action="/comments/create" method="POST">
         <input type="text" name="content" placeholder="Type Comment here..." required>
         <input type="hidden" name="post" value="<%= post._id %>">
         <input type="submit" value="Add Comment">
        </form>  
     <% } %>
     <div class="post-comments-list">
        <ul id="post-comments-<%= post._id %>" style="list-style-type:circle">
           <% for(comment of post.comments) { %>
             <%- include('_comment') -%>
           <% } %>
        </ul>
    </div>
    </div>
</li>